[submodule "2_sintaxe_basica_com_.NET/7_desafio_de_projeto_construindo_um_sistema_para_um_estacionamento_com_c#/trilha-net-fundamentos-desafio"]
	path = "2_sintaxe_basica_com_.NET/7_desafio_de_projeto_construindo_um_sistema_para_um_estacionamento_com_c#/trilha-net-fundamentos-desafio"
	url = https://github.com/Lucasgyn94/trilha-net-fundamentos-desafio.git
[submodule "1_principios_de_desenvolvimento_de_aplicacoes/4_desafio_de_projeto_contribuindo_em_um_projeto_open_source_no_github/dio-lab-open-source"]
	path = 1_principios_de_desenvolvimento_de_aplicacoes/4_desafio_de_projeto_contribuindo_em_um_projeto_open_source_no_github/dio-lab-open-source
	url = https://github.com/Lucasgyn94/dio-lab-open-source.git
[submodule "3_programacao_orientada_a_objetos/6_desafio_de_projeto_construindo_um_sistema_de_hospedagem_de_um_hotel_com_c#/SistemaHospedagem"]
	path = "3_programacao_orientada_a_objetos/6_desafio_de_projeto_construindo_um_sistema_de_hospedagem_de_um_hotel_com_c#/SistemaHospedagem"
	url = https://github.com/Lucasgyn94/trilha-net-explorando-desafio.git
[submodule "3_programacao_orientada_a_objetos/10_desafio_de_projeto_criando_um_sistema_e_abstraindo_um_celular_com_poo_em_c#/SistemaAbstraindoUmCelularPOO"]
	path = "3_programacao_orientada_a_objetos/10_desafio_de_projeto_criando_um_sistema_e_abstraindo_um_celular_com_poo_em_c#/SistemaAbstraindoUmCelularPOO"
	url = https://github.com/Lucasgyn94/trilha-net-poo-desafio.git
[submodule "4_desenvolvimento_de_apis/02_desafio_de_projeto_trabalhando_com_asp_net_minimals_apis/MinimalApi"]
	path = 4_desenvolvimento_de_apis/02_desafio_de_projeto_trabalhando_com_asp_net_minimals_apis/MinimalApi
	url = https://github.com/Lucasgyn94/minimal-api.git
[submodule "6_introducao_a_cloud_com_azure/02_desafio_de_projeto_microsoft_azure_localizando_servicos_por_categoria"]
	path = 6_introducao_a_cloud_com_azure/02_desafio_de_projeto_microsoft_azure_localizando_servicos_por_categoria
	url = https://github.com/Lucasgyn94/resumo-lab-azure-localizando-servicos.git
